:root {
    --bs-body-color: white !important;
}

.actions {
    position: fixed;
    bottom: 0;
    right: 260px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

@media (max-width: 575.98px) {
    .actions {
        right: 0;
    }
}

.table {
    table-layout: fixed;
    white-space: nowrap;
}

.table-hover tbody td {
    cursor: pointer;
}

